.nav {
  background-color: #0a0d1c;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  height: 8vh;
}
.logo {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  margin: 5px;
  position: absolute;
  top: 6px;
  left: 8px;
}
.login_links {
  margin-left: 280px;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: white !important;
  font-size: 1.1rem;
  padding-left: 20px;
  padding-right: 10px;
}
